[submodule "config/characters"]
	path = config/characters
	url = git@github.com:srcmax-studio/war-drafting-simulator-characters.git
[submodule "src/common"]
	path = src/common
	url = git@github.com:srcmax-studio/war-drafting-simulator-common.git
[submodule "config/prompt"]
	path = config/prompt
	url = git@github.com:srcmax-studio/wds-prompt.git
